//noticiasallo__main{}

.noticiasallo__main__container{
  padding-top: 30px;
  padding-bottom: 30px;
}

.noticiasallo__main__grid__row{
  padding-top: 30px
}

//.noticiasallo__main__grid__col{}

//.index__section__noticias__item{}
.noticiasallo__main__grid__item{
  @extend 
  .index__section__noticias__item;}

.noticiasallo__main__grid__item:hover{
  background-color: $white__1;
  border-radius: 20px;
}

.noticiasallo__main__grid__item__imagen{
  @extend 
  .index__section__noticias__item__img;}

.noticiasallo__main__grid__item__imagen:hover{
  width: 101%;
}
//index__section__noticias__item__titulo
//.noticiasallo__main__grid__item__titulo{@extend .index__section__noticias__item__titulo;}

//.index__section__noticias__item__subtitulo{}
.noticiasallo__main__grid__item__subtitulo{
  padding-bottom: 20px;
}

//.ndex__section__noticias__item__subtitulo__vermas{}
//.noticiasallo__main__grid__item__subtitulo__vermas{}










//.index__section__noticias {padding-bottom: 10px;}
//.noticiasallo__main{}

//.index__section__noticias:hover {padding-bottom: 10px; background-color: $shadow;}
//.noticiasallo__main:hover{}

//.index__section__noticias__container{}
//.noticiasallo__main__container{}

//.index__section__noticias__item {padding-bottom: 10px;}
//.noticiasallo__main__item{}

//.index__section__noticias__item__img {width: 100%;}
//.noticiasallo__main__item{}__img{}

//.index__section__noticias__titulo:hover {font-size: 4.8rem;}

//.index__section__noticias__item:hover {background-color: $shadow;}