.articulos {
  color: red;

  .container {
    background-color: white;

    .item {
      margin: auto;

      .imagen {
        padding: auto;
      }

      .titulo {
        display: flex;
      }

      .subtitulo {
        text-decoration: none;
      }

      .texto {
        text-align: center;
      }
    }

  }
}