/*=========================benedicto__page==============================*/
/*=========================benedicto__page==============================*/
/*=========================benedicto__page==============================*/

.benedicto__main__section{
  width: 80%;
  margin: auto;
}

.benedicto__img__escudo{
  width: 70%;
}

.benedicto__img__benedicto{
  width: 100%;
}