/*=========================contacto__page==============================*/
/*=========================contacto__page==============================*/
/*=========================contacto__page==============================*/

.contacto__section{
  width: 66%;
  margin: auto;
}

.contacto__main:hover{
  background-color: $white__2;
}
.contacto__section__item__textarea{
  height: 200px;
}