.index__section__principal {
  background-color: $white__2;
  margin: auto;
  padding-top: 15px;
  padding: auto;
}

.index__section__principal__carousel__item__img {
  width: 100%;

  overflow: hidden;
}

.index__section__principal__carousel__item__title {
  color: rgba(0, 0, 0, 0.626);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.index__section__principal__carousel__item__subtitle {
  color: rgba(0, 0, 0, 0.632);

}
