/*======================.index__section__articulos======================*/
/*======================.index__section__articulos======================*/
/*======================.index__section__articulos======================*/

.index__section__articulos{
  background:white
}

//.index__section__articulos:hover {}

//.index__section__articulos__titulo{}
//.index__section__articulos__titulo__ancor{}
.index__section__articulos__container{
  padding-bottom: 5px;
}

.index__section__articulos__item:hover{
  background-color: $shadow;
  width: 105%;
}

.index__section__articulos__item__imagen {
  width: 100%;
}
//.index__section__articulos__item__imagen:hover {}
//index__section__articulos__item__titulo{}
//index__section__articulos__item__texto{}
//index__section__articulos__item__texto__vermas{}


.index__section__articulos__vermas{
  @extend .index__section__testimonios__vermas;
}