/*=======================.index__section__imagenes====================*/
/*=======================.index__section__imagenes====================*/
/*=======================.index__section__imagenes====================*/


.index__section__imagenes {
  padding-bottom: 30px;
}

//.index__section__imagenes:hover{}
// .index__section__imagenes__titulo{}
// .index__section__imagenes__container{}

.index__section__imagenes__grid__item {
  padding-bottom: 5px;
}
.index__section__imagenes__grid__item:hover{
  width: 105%;
}

.index__section__imagenes__grid__item__imagen {
  width: 100%;
}
//.index__section__imagenes__grid__item__imagen:hover {}