/*==================.index__section__noticias========================*/
/*==================.index__section__noticias========================*/
/*==================.index__section__noticias========================*/

.index__section__noticias {
  padding-bottom: 10px;
}

//.index__section__noticias:hover {}

//.index__section__noticias__titulo{}

//.index__section__noticias__container{}

.index__section__noticias__item{
    padding-bottom: 10px;
}

.index__section__noticias__item__img {
  width: 100%;
}

//.index__section__noticias__titulo:hover{}

.index__section__noticias__item:hover{
  background-color: $shadow;
  width: 104%;
  transition: width 2s;
}

.index__section__noticias__vermas{
  @extend .index__section__testimonios__vermas;
}