/* MEDIAQUERIES */


@media screen and (max-width: 576px) {
  .nosotros__section{
    width: 100%;
  }
  .index__section__principal__carousel__item__img{
    width: 100%;
    height: 250px;
  }
  .index__section__imagenes__grid__item {
    margin: 0px;
    padding: 1px;
  }

  .index__section__libros__grid__item {
    margin-bottom: 5px;
  }

  #uprow {
    display: none;
    left: 30%;
    bottom: 5%;
  }
  .index__section__noticias__titulo a {
    font-size: 2.5rem;
  }
  .index__section__noticias__titulo a:hover {
    font-size: 2.5rem;
  }
  .index__section__libros__grid__item{
    padding: 5px;
  }
  .index__section__noticias__item__img {
    margin-top: 20px;
  }

  .index__section__imagenes__grid__item__imagen {
  width: 90%;
  padding: 5px;
  }
    .index__section__imagenes__grid__item__imagen:hover{width: 91%;}
}

.index__section__testimonios__container{
  width: 90%;
  margin: auto;
}


// @media screen and(min-width: 577px) {}

//@media screen and (min-width:577) and (max-width: 772px) {



@media screen and (min-width: 773px) and (max-width: 992px) {

  .index__section__principal__carousel__item__title:hover 
  {
      font-size: 4rem;
    }
  .index__section__noticias__titulo a:hover{
  
  font-size: 4.3rem;
}
}



// @media screen and(min-width: 992px) {}

// @media screen and(min-width: 1200px) {}

// @media screen and(min-width: 1400px) {}