<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="academico, academia, fuente, lectura, liturgia, tradicionalismo, ecumenismo, concilio vaticano II, concilio, iglesia, eclesiologia, patristica, padres de la iglesia, catolica, iglesia catolica, religion catolica, catolica, cristianismo, teologia, articulos, libros, noticias, fe, doctrina, religion, filosofia, razon">
  <meta name="description"
    content="los articulos academicos más reconocido relacionados a la teología, doctrina y religion. Especialmente sobre el fallecido papa Benedicto XVI.">
  <link rel="icon" type="image/jpg" href="../static/bento/assets/icons/bentofavicon.png" />

  <!-- link a bootstrap -->
  <link rel="stylesheet" href="../libs/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
  <!-- link a css -->
  <link rel="stylesheet" href="../static/bento/css/styles.css">
  <title> articulos </title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar__container" id="navbar">
  <div class="container-fluid">

    <a class="navbar-brand" href="../index.html">
      <img class="navnar__logo" src="../static/bento/assets/icons/bentologo.png" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item navbar__item">
          <a class="nav-link navbar__item" href="../templates/noticias.html">noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  navbar__item" href="../templates/libros.html">libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  navbar__item" href="../templates/articulos.html">articulos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  navbar__item" href="../templates/imagenes.html">imagenes</a>
        </li>
          <li class="nav-item">
            <a class="nav-link  navbar__item" href="../templates/benedicto.html">Benedicto</a>
          </li>
        <li class="nav-item">
          <a class="nav-link  navbar__item" href="../templates/nosotros.html">nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  navbar__item" href="../templates/testimonios.html">testimonios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  navbar__item" href="../templates/contacto.html">contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <!-- uprow (sticky item) -->
  <section>
    <a href="#navbar" class="angle-double-up" id="uprow">
      <img src="../static/bento/assets/icons/uprow.png" alt="whatever">
    </a>
  </section>


  <!-- end CONTENIDO QUE CAMBIA  -->

  <main>

      <h1 class="librosallo__main__titulo display-1 text-center">Catálogo de articulos</h1>

        <div class="articulosallo__main__container container text-center">

          <div class="articulos__main__grid__row row">

            <div class="col articulosallo__main__grid__col">

              <div class="articulosallo__main__grid__item">

                <img class="index__section__articulos__item__imagen" src="../static/bento/assets/img/articulos/articulos__0001.jpeg"
                  alt="defect_img__articulos">
                <h3 class="index__section__articulos__item__titulo display-6"> Benedicto XVI sabía dónde encontrar el sentido.
                </h3>
                
                <p class="index__section__articulos__item__texto lead">¿Qué es lo que más busca nuestra sociedad adicta a las pantallas?
                  El Papa Benedicto XVI sabía dónde encontrarlo y dedicó
                  su sacerdocio a mostrarnos el camino. <a class="index__section__articulos__item__texto__vermas" href="https://www.catholic.com/magazine/online-edition/benedict-xvi-knew-where-to-find-meaning
">ver
                    más...</a></p>

              </div>

            </div>

            <div class="col articulosallo__main__grid__col">

              <div class="articulosallo__main__grid__item">

                <img class="index__section__articulos__item__imagen" src="../static/bento/assets/img/articulos/articulos__0002.jpg"
                  alt="defect_img__articulos">

                <h3 class="index__section__articulos__item__titulo display-6"> La futura santidad de Benedicto XVI.
                </h3>

                <p class="index__section__articulos__item__texto lead">Un día, dentro del próximo siglo, Benedicto XVI será declarado
                  santo. Precisamente qué tan pronto sucederá esto es
                  incierto, pero sucederá. <a class="index__section__articulos__item__texto__vermas" href="https://www.catholic.com/magazine/online-edition/the-future-sainthood-of-benedict-xvi
">ver
                    más...</a>

              </div>
              
              </p>

            </div>

            <div class="col articulosallo__main__grid__col col-xs-0">
              <div class="articulosallo__main__grid__item">

                <img class="index__section__articulos__item__imagen" src="../static/bento/assets/img/articulos/articulos__0003.jpeg"
                  alt="defect_img__articulos">

                <h3 class="index__section__articulos__item__titulo display-6"> ¿Cómo percibe Benedicto XVI el Concilio Vaticano II?
                </h3>

                <p class="index__section__articulos__item__texto lead">En la recepción del Concilio, ¿qué se ha hecho bien?, ¿qué ha
                  sido insuficiente o equivocado?, ¿qué queda aún por hacer? <a class="index__section__articulos__item__texto__vermas"
                    href="http://es.catholic.net/op/articulos/4530/cat/164/como-percibe-benedicto-xvi-el-concilio-vaticano-ii.html
">ver
                    más...</a>

                </p>  

              </div>
              
            </div>
          </div>


          <div class="articulos__main__grid__row row">

            <div class="col articulosallo__main__grid__col">

              <div class="articulosallo__main__grid__item">
                <img class="index__section__articulos__item__imagen" src="../static/bento/assets/img/articulos/articulos__0004.png"
                  alt="defect_img__articulos">

                <h3 class="index__section__articulos__item__titulo display-6"> El fin de la era de los dos papas: cómo fue la relación
                  entre Francisco y Benedicto XVI.
                </h3>

                <p class="index__section__articulos__item__texto lead">La mano derecha del actual pontífice sobre el féretro de su
                  predecesor es una imagen que quedará para la historia. Pero
                  también los ocho años previos, en los que se vivió una situación muy inusual. <a
                    class="index__section__articulos__item__texto__vermas" href="https://www.infobae.com/america/mundo/2023/01/05/el-fin-de-la-era-de-los-dos-papas-como-fue-la-relacion-entre-francisco-y-benedicto-xvi/
">ver
                    más...</a>
                </p>
                
              </div>
              

            </div>

            <div class="col articulosallo__main__grid__col">
            
              <div class="articulosallo__main__grid__item">

                <img class="index__section__articulos__item__imagen" src="../static/bento/assets/img/articulos/articulos__0005.jpg"
                  alt="defect_img__articulos">
            
                <h3 class="index__section__articulos__item__titulo display-6"> El elíxir de la vida existe: Benedicto XVI
                </h3>
            
                <p class="index__section__articulos__item__texto lead">Homilía de Benedicto XVI en la Vigilia PascualCristo, hierba medicinal contra la muerteCIUDAD DEL VATICANO, domingo, 4
                de abril de 2010 <a
                    class="index__section__articulos__item__texto__vermas" href="https://es.catholic.net/op/articulos/40464/cat/826/el-elixir-de-la-vida-existe-benedicto-xvi.html
">ver
                    más...</a>
                </p>
            
              </div>
            
            
            </div>

            <div class="col articulosallo__main__grid__col">
            
              <div class="articulosallo__main__grid__item">

                <img class="index__section__articulos__item__imagen" src="../static/bento/assets/img/articulos/articulos__0006.png"
                  alt="defect_img__articulos">
            
                <h3 class="index__section__articulos__item__titulo display-6"> Benedicto XVI y san Ignacio de Antioquía, hombres dispuestos a la unidad.
                </h3>
            
                <p class="index__section__articulos__item__texto lead">Posiblemente Benedicto XVI pase a la historia como el Pontífice de la unidad, el Papa que nos ha enseñado la prioridad
                suprema del amor. El autor de este artículo repasa la carta del Papa a los obispos sobre los lefebvristas a la luz de
                san Ignacio de A. <a
                    class="index__section__articulos__item__texto__vermas" href="https://es.catholic.net/op/articulos/2229/cat/151/benedicto-xvi-y-nuestra-crisis-de-fe.html#modal
">ver
                    más...</a>
                </p>
            
              </div>
            
            
            </div>
          </div>

          <div class="articulos__main__grid__row row">
          
            <div class="col articulosallo__main__grid__col">
          
              <div class="articulosallo__main__grid__item">
                <img class="index__section__articulos__item__imagen"
                  src="../static/bento/assets/img/articulos/articulos__0007.png" alt="defect_img__articulos">
          
                <h3 class="index__section__articulos__item__titulo display-6"> Benedicto XVI: la libertad religiosa es el primer derecho del hombre.
                </h3>
          
                <p class="index__section__articulos__item__texto lead">Discurso al cuerpo diplomático ante la Santa Sede con motivo del Año Nuevo. <a
                    class="index__section__articulos__item__texto__vermas" href="#">ver
                    más...</a>
                </p>
          
              </div>
          
          
            </div>
          
            <div class="col articulosallo__main__grid__col">
          
              <div class="articulosallo__main__grid__item">
                <img class="index__section__articulos__item__imagen"
                  src="../static/bento/assets/img/articulos/articulos__0008.jpeg" alt="defect_img__articulos">
          
                <h3 class="index__section__articulos__item__titulo display-6"> Por fin recogido el magisterio vocacional de Benedicto XVI.
                </h3>
          
                <p class="index__section__articulos__item__texto lead">Existe un momento en la juventud en que cada uno se pregunta: ¿Qué sentido tiene mi vida, que finalidad, que rumbo debo
                darle? <a
                    class="index__section__articulos__item__texto__vermas" href="http://es.catholic.net/op/articulos/46172/benedicto-xvi-la-libertad-religiosa-es-el-primer-derecho-del-hombre.html#modal
">ver
                    más...</a>
                </p>
          
              </div>
          
          
            </div>
          
            <div class="col articulosallo__main__grid__col">
          
              <div class="articulosallo__main__grid__item">
                <img class="index__section__articulos__item__imagen"
                  src="../static/bento/assets/img/articulos/articulos__0009.jpg" alt="defect_img__articulos">
          
                <h3 class="index__section__articulos__item__titulo display-6"> Así ve Benedicto XVI el mundo y la causa de la paz y la libertad religiosa.
                </h3>
          
                <p class="index__section__articulos__item__texto lead">Discurso del Papa al Cuerpo Diplomático acreditado ante la Santa Sede. <a
                    class="index__section__articulos__item__texto__vermas" href="https://www.infobae.com/leamos/2023/01/02/el-papa-benedicto-xvi-y-los-libros-que-lo-convirtieron-en-un-bestseller/

">ver
                    más...</a>
                </p>
          
              </div>
          
          
            </div>
          </div>
      

          <div class="articulos__main__grid__row row">
          
            <div class="col articulosallo__main__grid__col">
          
              <div class="articulosallo__main__grid__item">
                <img class="index__section__articulos__item__imagen"
                  src="../static/bento/assets/img/articulos/articulos__0010.png" alt="defect_img__articulos">
          
                <h3 class="index__section__articulos__item__titulo display-6"> El papa Benedicto XVI y los libros que lo convirtieron en un “bestseller”
                </h3>
          
                <p class="index__section__articulos__item__texto lead">Joseph Ratzinger, el alemán que fue papa antes que Francisco, fue el papa que más libros vendió durante su periodo al
                frente del Vaticano. <a
                    class="index__section__articulos__item__texto__vermas" href="https://es.catholic.net/op/articulos/28786/cat/572/asi-ve-benedicto-xvi-el-mundo-y-la-causa-de-la-paz-y-la-libertad-religiosa.html#modal
">ver
                    más...</a>
                </p>
          
              </div>
          
          
            </div>
          
            <div class="col articulosallo__main__grid__col">
          
              <div class="articulosallo__main__grid__item">
                <img class="index__section__articulos__item__imagen"
                  src="../static/bento/assets/img/articulos/articulos__0011.png" alt="defect_img__articulos">
          
                <h3 class="index__section__articulos__item__titulo display-6"> Benedicto XVI: visión moral guiada de la ética.
                </h3>
          
                <p class="index__section__articulos__item__texto lead">El Papa ha iniciado su discurso afirmando que la crisis económica actual desmiente el principio según el cual el mercado
                tiene en sí mismo los mecanismos para corregirse y regularse. <a
                    class="index__section__articulos__item__texto__vermas" href="https://es.catholic.net/op/articulos/28728/cat/572/benedicto-xvi-vision-moral-guiada-de-la-etica.html#modal
">ver
                    más...</a>
                </p>
          
              </div>
          
          
            </div>
          
            <div class="col articulosallo__main__grid__col">
          
              <div class="articulosallo__main__grid__item">
                <img class="index__section__articulos__item__imagen"
                  src="../static/bento/assets/img/articulos/articulos__0012.jpg" alt="defect_img__articulos">
          
                <h3 class="index__section__articulos__item__titulo display-6">Santos y Beatos proclamados durante el pontificado del Papa Benedicto XVI
                </h3>
          
                <p class="index__section__articulos__item__texto lead">Presentamos la lista y biografías de los Santos y Beatos proclamados durante el pontificado de Benedicto XVI. <a
                    class="index__section__articulos__item__texto__vermas" href="http://es.catholic.net/op/articulos/56287/cat/913/santos-y-beatos-proclamados-durante-el-pontificado-del-papa-benedicto-xvi.html#modal
">ver
                    más...</a>
                </p>
          
              </div>
          
          
            </div>
          </div>
        
        </div>
        
        
        <!-- sin este Br me salta un error en el html  -->
        <br>








  </main>







 
<!-- end CONTENIDO QUE CAMBIA  -->

<script src="../libs/bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js"></script>

<!-- Footer -->
<footer class="text-center footer__container">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Este sitio está siendo desarrollado por <a class="footer__mensaje__ancor"
          href="https://github.com/Hector3008/">Hector H. Hernandez P.</a>
        Con el propósito de demostrar y poner a prueba sus habilidades de diseño web.
        El contenido compartido no es de su autoría.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Explorar</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="../index.html" class="footer__item__ancor">Inicio</a>
            </li>
            <li>
              <a href="../templates/nosotros.html" class="footer__item__ancor">Nosotros</a>
            </li>
            <li>
              <a href="../templates/contacto.html" class="footer__item__ancor">Contacto</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Enlaces de Interés</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="footer__item__ancor">FAQ</a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">terminos de uso
              </a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">política de Copyright
              </a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">política de privacidad</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="footer__item__ancor">Redes Sociales</a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">Facebook</a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">Instagram</a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">Twitter</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Páginas Recomendadas</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.facebook.com/profile.php?id=100044530450027" class="footer__item__ancor">gracias
                Benedicto XVI</a>
            </li>
            <li>
              <a href="https://www.vatican.va/content/vatican/es.html" class="footer__item__ancor">Vatican.va</a>
            </li>
            <li>
              <a href="https://www.ewtn.com/es" class="footer__item__ancor">EWTN.com</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 footer__container__copyright">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

</body>

</html>