<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords"
    content="contacto, contactanos, poner en contacto, llamar, contar testimonio, testimonio, correo, contar historia, catolica, iglesia catolica, religion catolica, catolica, cristianismo, teologia, articulos, libros, noticias, fe, doctrina, religion, filosofia, razon">
  <meta name="description"
    content="conoce quién ha sido Benedicto XVI y por qué es considerado uno de los teologos más importantes de la era moderna.">
  <link rel="icon" type="image/jpg" href="../static/bento/assets/icons/bentofavicon.png" />

  <!-- link a bootstrap -->
  <link rel="stylesheet" href="../libs/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
  <!-- link a css -->
  <link rel="stylesheet" href="../static/bento/css/styles.css">
  <title> Benedicto </title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar__container" id="navbar">
    <div class="container-fluid">

      <a class="navbar-brand" href="../index.html">
        <img class="navnar__logo" src="../static/bento/assets/icons/bentologo.png" alt="">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item navbar__item">
            <a class="nav-link navbar__item" href="../templates/noticias.html">noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  navbar__item" href="../templates/libros.html">libros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  navbar__item" href="../templates/articulos.html">articulos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  navbar__item" href="../templates/imagenes.html">imagenes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  navbar__item" href="../templates/benedicto.html">Benedicto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  navbar__item" href="../templates/nosotros.html">nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  navbar__item" href="../templates/testimonios.html">testimonios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  navbar__item" href="../templates/contacto.html">contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- uprow (sticky item) -->
  <section>
    <a href="#navbar" class="angle-double-up" id="uprow">
      <img src="../static/bento/assets/icons/uprow.png" alt="whatever">
    </a>
  </section>

  <!-- CONTENIDO QUE CAMBIA -->

  <main class="benedicto__main">

    <section class="benedicto__main__section">

      <h2 class="display-2 text-center">¿Quién fue Benedicto XVI?</h2>

      <div class="benedicto__main__section__img text-center">
        <img src="../static/bento/assets/img/Benedicto/escudo_ratzinger.jpg" alt="escudo__ratzinger">
        <img src="../static/bento/assets/img/Benedicto/benedetto XVI con stemma-piccolo-quadrato.png" alt="">

      </div>

      <div class="benedicto__main__section__texto lead">
        <p>
          El cardenal Joseph Ratzinger, Papa Benedicto XVI, nació en Marktl am Inn, diócesis de Passau (Alemania), el 16 de abril
          de 1927 (Sábado santo), y fue bautizado ese mismo día. Su padre, comisario de la gendarmería, provenía de una antigua
          familia de agricultores de la Baja Baviera, de condiciones económicas más bien modestas. Su madre era hija de artesanos
          de Rimsting, en el lago Chiem, y antes de casarse trabajó de cocinera en varios hoteles.</p>
        <p>

          Pasó su infancia y su adolescencia en Traunstein, una pequeña localidad cerca de la frontera con Austria, a treinta
          kilómetros de Salzburgo. En ese marco, que él mismo ha definido "mozartiano", recibió su formación cristiana, humana y
          cultural.</p>

        <p>El período de su juventud no fue fácil. La fe y la educación de su familia lo preparó para afrontar la dura experiencia
        de esos tiempos, en los que el régimen nazi mantenía un clima de fuerte hostilidad contra la Iglesia católica. El joven
        Joseph vio cómo los nazis golpeaban al párroco antes de la celebración de la santa misa.</p>

        <p>
          Precisamente en esa compleja situación, descubrió la belleza y la verdad de la fe en Cristo; para ello fue fundamental
          la actitud de su familia, que siempre dio un claro testimonio de bondad y esperanza, arraigada en la pertenencia
          consciente a la Iglesia.
        </p>

        <p>
          En los últimos meses de la segunda guerra mundial fue enrolado en los servicios auxiliares antiaéreos.
        </p>

        <p>
          De 1946 a 1951 estudió filosofía y teología en la Escuela superior de filosofía y teología de Freising y en la
          universidad de Munich.
        </p>

        <p>
          Recibió la ordenación sacerdotal el 29 de junio de 1951.
        </p>

        <p>
          Un año después, inició su actividad de profesor en la Escuela superior de Freising.
        </p>

        <p>
          En el año 1953 se doctoró en teología con la tesis: "Pueblo y casa de Dios en la doctrina de la Iglesia de san Agustín".
        </p>

        <p>
          Cuatro años más tarde, bajo la dirección del conocido profesor de teología fundamental Gottlieb Söhngen, obtuvo la
          habilitación para la enseñanza con una disertación sobre: "La teología de la historia de san Buenaventura".
        </p>

        <p>
          Tras ejercer el cargo de profesor de teología dogmática y fundamental en la Escuela superior de filosofía y teología de
          Freising, prosiguió su actividad de enseñanza en Bonn, de 1959 a 1963; en Münster, de 1963 a 1966; y en Tubinga, de 1966
          a 1969. En este último año pasó a ser catedrático de dogmática e historia del dogma en la Universidad de Ratisbona,
          donde ocupó también el cargo de vicepresidente de la Universidad.
        </p>
        
        <p>
          De 1962 a 1965 dio una notable contribución al concilio Vaticano II como "experto"; acudió como consultor teológico del
          cardenal Joseph Frings, arzobispo de Colonia.
        </p>

        <p>
          Su intensa actividad científica lo llevó a desempeñar importantes cargos al servicio de la Conferencia episcopal alemana
          y en la Comisión teológica internacional.
        </p>

        <p>
          En 1972, juntamente con Hans Urs von Balthasar, Henri de Lubac y otros grandes teólogos, inició la revista de teología
          "Communio".
        </p>

        <p>
          El 25 de marzo de 1977, el Papa Pablo VI lo nombró arzobispo de Munich y Freising. El 28 de mayo sucesivo recibió la
          consagración episcopal. Fue el primer sacerdote diocesano, después de 80 años, que asumió el gobierno pastoral de la
          gran archidiócesis bávara. Escogió como lema episcopal: "Colaborador de la verdad". Él mismo explicó: "Por un lado, me
          parecía que esa era la relación entre mi tarea previa como profesor y mi nueva misión. A pesar de los diferentes modos,
          lo que estaba en juego y seguía estándolo era seguir la verdad, estar a su servicio. Y, por otro, escogí ese lema porque
          en el mundo de hoy el tema de la verdad se omite casi totalmente, pues parece algo demasiado grande para el hombre y,
          sin embargo, todo se desmorona si falta la verdad".
          Pablo VI lo creó cardenal, del título presbiteral de Santa María de la Consolación en Tiburtino, en el consistorio del
          27 de junio de ese mismo año.
        </p>

        <p>
          En 1978 participó en el Cónclave, celebrado del 25 al 26 de agosto, que eligió a Juan Pablo I, el cual lo nombró enviado
          especial suyo al III Congreso mariológico internacional, celebrado en Guayaquil (Ecuador), del 16 al 24 de septiembre.
          En el mes de octubre de ese mismo año participó también en el Cónclave que eligió a Juan Pablo II.
        </p>

        <p>
          Actuó de relator en la V Asamblea general ordinaria del Sínodo de los obispos, celebrada en 1980, sobre el tema: "Misión
          de la familia cristiana en el mundo contemporáneo", y presidente delegado de la VI Asamblea general ordinaria, celebrada
          en 1983, sobre "La reconciliación y la penitencia en la misión de la Iglesia".
        </p>

        <p>
          Juan Pablo II lo nombró prefecto de la Congregación para la doctrina de la fe, y presidente de la Pontificia Comisión
          bíblica y de la Comisión teológica internacional el 25 de noviembre de 1981. El 15 de febrero de 1982 renunció al
          gobierno pastoral de la arquidiócesis de Munich y Freising. Lo elevó al orden de los obispos, asignándole la sede
          suburbicaria de Velletri-Segni, el 5 de abril de 1993.
        </p>

        <p>
          Fue presidente de la comisión para la preparación del Catecismo de la Iglesia católica, que, después de seis años de
          trabajo (1986-1992), presentó al Santo Padre el nuevo Catecismo.
        </p>

        <p>
          El Santo Padre, el 6 de noviembre de 1998, aprobó la elección del cardenal Ratzinger como vicedecano del Colegio
          cardenalicio, realizada por los cardenales del orden de los obispos. Y el 30 de noviembre de 2002, aprobó su elección
          como decano; con dicho cargo le fue asignada, además, la sede suburbicaria de Ostia.
        </p>

        <p>
          En 1999 fue enviado especial del Papa a las celebraciones con ocasión del XII centenario de la creación de la diócesis
          de Paderborn, Alemania, que tuvieron lugar el 3 de enero.
        </p>

        <p>
          Desde el 13 de noviembre de 2000 era Académico honorario de la Academia pontificia de ciencias.
        </p>

        <p>
          En la Curia romana, fue miembro del Consejo de la Secretaría de Estado para las Relaciones con los Estados; de las
          Congregaciones para las Iglesias orientales, para el culto divino y la disciplina de los sacramentos, para los obispos,
          para la evangelización de los pueblos, para la educación católica, para el clero y para las causas de los santos; de los
          Consejos pontificios para la promoción de la unidad de los cristianos y para la cultura; del Tribunal supremo de la
          Signatura apostólica; y de las Comisiones pontificias para América Latina, "Ecclesia Dei", para la interpretación
          auténtica del Código de derecho canónico y para la revisión del Código de derecho canónico oriental.
        </p>

        <p>
          Entre sus numerosas publicaciones ocupa un lugar destacado el libro: "Introducción al Cristianismo", recopilación de
          lecciones universitarias publicadas en 1968 sobre la profesión de fe apostólica; "Dogma y revelación" (1973), antología
          de ensayos, predicaciones y reflexiones, dedicadas a la pastoral.
        </p>

        <p>
          Obtuvo gran resonancia el discurso que pronunció ante la Academia católica bávara sobre el tema "¿Por qué sigo aún en la
          Iglesia?", en el que, con su habitual claridad, afirmó: "Sólo en la Iglesia es posible ser cristiano y no al lado de la
          Iglesia".
        </p>

        <p>
          La serie de sus publicaciones prosiguió abundante en el decurso de los años, constituyendo un punto de referencia para
          muchas personas, especialmente para los que querían profundizar en el estudio de la teología. En 1985 publicó el
          libro-entrevista "Informe sobre la fe" y, en 1996, "La sal de la tierra". Asimismo, con ocasión de su 70° cumpleaños, se
          publicó el libro: "En la escuela de la verdad", en el que varios autores ilustran diversos aspectos de su personalidad y
          su obra.
        </p>

        <p>
          Ha recibido numerosos doctorados "honoris causa" por el College of St. Thomas in St. Paul (Minnesota, Estados Unidos),
          en 1984; por la Universidad católica de Eichstätt, en 1985; por la Universidad católica de Lima, en 1986; por la
          Universidad católica de Lublin, en 1988; por la Universidad de Navarra (Pamplona, España), en 1998; por la Libre
          Universidad María Santísima Asunta (LUMSA) Roma, en 1999; por la Facultad de teología de la Universidad de Wroclaw
          (Polonia) en 2000.
        </p>
      </div>
<br>

    </section>

  </main>

<!-- end CONTENIDO QUE CAMBIA  -->

<script src="../libs/bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js"></script>

<!-- Footer -->
<footer class="text-center footer__container">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Este sitio está siendo desarrollado por <a class="footer__mensaje__ancor"
          href="https://github.com/Hector3008/">Hector H. Hernandez P.</a>
        Con el propósito de demostrar y poner a prueba sus habilidades de diseño web.
        El contenido compartido no es de su autoría.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Explorar</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="../index.html" class="footer__item__ancor">Inicio</a>
            </li>
            <li>
              <a href="../templates/nosotros.html" class="footer__item__ancor">Nosotros</a>
            </li>
            <li>
              <a href="../templates/contacto.html" class="footer__item__ancor">Contacto</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Enlaces de Interés</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="footer__item__ancor">FAQ</a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">terminos de uso
              </a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">política de Copyright
              </a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">política de privacidad</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="footer__item__ancor">Redes Sociales</a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">Facebook</a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">Instagram</a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">Twitter</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Páginas Recomendadas</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.facebook.com/profile.php?id=100044530450027" class="footer__item__ancor">gracias
                Benedicto XVI</a>
            </li>
            <li>
              <a href="https://www.vatican.va/content/vatican/es.html" class="footer__item__ancor">Vatican.va</a>
            </li>
            <li>
              <a href="https://www.ewtn.com/es" class="footer__item__ancor">EWTN.com</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 footer__container__copyright">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

</body>

</html>

