<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="imagenes, galeria, fotografia, fotografias, pintura, arquitectura, arte, catolica, iglesia catolica, religion catolica, catolica, cristianismo, teologia, articulos, libros, noticias, fe, doctrina, religion, filosofia, razon">
  <meta name="description"
    content="galeria de imagenes dedicadas al fallecido papa Benedicto XVI.">
  <link rel="icon" type="image/jpg" href="../static/bento/assets/icons/bentofavicon.png" />

  <!-- link a bootstrap -->
  <link rel="stylesheet" href="../libs/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
  <!-- link a css -->
  <link rel="stylesheet" href="../static/bento/css/styles.css">
  <title> imagenes </title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar__container" id="navbar">
  <div class="container-fluid">

    <a class="navbar-brand" href="../index.html">
      <img class="navnar__logo" src="../static/bento/assets/icons/bentologo.png" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item navbar__item">
          <a class="nav-link navbar__item" href="../templates/noticias.html">noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  navbar__item" href="../templates/libros.html">libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  navbar__item" href="../templates/articulos.html">articulos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  navbar__item" href="../templates/imagenes.html">imagenes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  navbar__item" href="../templates/benedicto.html">Benedicto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  navbar__item" href="../templates/nosotros.html">nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  navbar__item" href="../templates/testimonios.html">testimonios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  navbar__item" href="../templates/contacto.html">contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <!-- uprow (sticky item) -->
  <section>
    <a href="#navbar" class="angle-double-up" id="uprow">
      <img src="../static/bento/assets/icons/uprow.png" alt="whatever">
    </a>
  </section>

  <!-- CONTENIDO QUE CAMBIA  -->


    <main class="imagenesallo__main" id="index__section__imagenes">
    
      <h1 class="librosallo__main__titulo display-1 text-center">Catálogo de imagenes</h1>

      <div class="imagenesallo__main__container text-center">

        <div class="imagenesallo__main__grid__row row">

          <div class="imagenesallo__main__grid__col col-sm-6">

            <div class="imagenesallo__main__grid__item">

              <img class="imagenesallo__main__grid__item__imagen" src="../static/bento/assets/img/imagenes/imagenes__0001.jpg"
                alt="defect_img__imagenes">

              <h3 class="imagenesallo__main__grid__item__leyenda lead">un joven Joseph Ratzinger con vestimentas liturgicas.</h3>

            </div>
          </div>

          <div class="imagenesallo__main__grid__col col-sm-6">

            <div class="imagenesallo__main__grid__item">

              <img class="imagenesallo__main__grid__item__imagen" src="../static/bento/assets/img/imagenes/imagenes__0002.jpg"
                alt="defect_img__imagenes">
              <h3 class="imagenesallo__main__grid__item__leyenda lead">Un joven Joseph Ratzinger junto a su familia en Alemania.</h3>

            </div>

          </div>

        </div>

        <div class="imagenesallo__main__grid__row row">

          <div class="imagenesallo__main__grid__col col-sm-6">

            <div class="imagenesallo__main__grid__item">

              <img class="imagenesallo__main__grid__item__imagen" src="../static/bento/assets/img/imagenes/imagenes__0003.jpeg"
                alt="defect_img__imagenes">
              <h3 class="imagenesallo__main__grid__item__leyenda lead">Joseph Ratzinger, ya cardenal, junto a su gran amigo el papa Juan Pablo II.</h3>

            </div>

          </div>

          <div class="imagenesallo__main__grid__col col-sm-6">

            <div class="imagenesallo__main__grid__item">

              <img class="imagenesallo__main__grid__item__imagen" src="../static/bento/assets/img/imagenes/imagenes__0004.jpeg"
                alt="defect_img__imagenes">

              <h3 class="imagenesallo__main__grid__item__leyenda lead">Joseph Ratzinger, siendo ya papa, saluda un felino que le presentaron.</h3>

            </div>

          </div>

        </div>
        <div class="imagenesallo__main__grid__row row">

          <div class="imagenesallo__main__grid__col col-sm-6">

            <div class="imagenesallo__main__grid__item">

              <img class="imagenesallo__main__grid__item__imagen" src="../static/bento/assets/img/imagenes/imagenes__0005.png"
                alt="defect_img__imagenes">
              <h3 class="imagenesallo__main__grid__item__leyenda lead">Joseph ratzinger, ya siendo papa, celebra la santa misa y presenta el corpus christi después de la Epíclesis.</h3>

            </div>

          </div>
          <div class="imagenesallo__main__grid__col col-sm-6">
            <div class="imagenesallo__main__grid__item">
              <img class="imagenesallo__main__grid__item__imagen" src="../static/bento/assets/img/imagenes/imagenes__0006.jpeg"
                alt="defect_img__imagenes">
              <h3 class="imagenesallo__main__grid__item__leyenda lead">Joseph Ratzinger, ya papa emérito, junto a su amigo y sucesor Jorge Mario Bergoglio, papa Francisco.</h3>
            </div>
          </div>
        </div>
        <div class="imagenesallo__main__grid__row row">

          <div class="imagenesallo__main__grid__col col-sm-6">

            <div class="imagenesallo__main__grid__item">

              <img class="imagenesallo__main__grid__item__imagen" src="../static/bento/assets/img/imagenes/imagenes__0007.jpg"
                alt="defect_img__imagenes">
              <h3 class="imagenesallo__main__grid__item__leyenda lead">Joseph Ratzinger, ya papa Benedicto, junto a su hermano Georg.</h3>
            </div>
          </div>
          <div class="imagenesallo__main__grid__col col-sm-6">

            <div class="imagenesallo__main__grid__item">

              <img class="imagenesallo__main__grid__item__imagen" src="../static/bento/assets/img/imagenes/imagenes__0008.png"
                alt="defect_img__imagenes">
              <h3 class="imagenesallo__main__grid__item__leyenda lead">Joseph Ratzinger junto a su fiel amigo Georg Ganswein</h3>
            </div>
          </div>
        </div>
      </div>
    
    
    </main>




<!-- end CONTENIDO QUE CAMBIA  -->

<script src="../libs/bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js"></script>

<!-- Footer -->
<footer class="text-center footer__container">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Este sitio está siendo desarrollado por <a class="footer__mensaje__ancor"
          href="https://github.com/Hector3008/">Hector H. Hernandez P.</a>
        Con el propósito de demostrar y poner a prueba sus habilidades de diseño web.
        El contenido compartido no es de su autoría.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Explorar</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="../index.html" class="footer__item__ancor">Inicio</a>
            </li>
            <li>
              <a href="../templates/nosotros.html" class="footer__item__ancor">Nosotros</a>
            </li>
            <li>
              <a href="../templates/contacto.html" class="footer__item__ancor">Contacto</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Enlaces de Interés</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="footer__item__ancor">FAQ</a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">terminos de uso
              </a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">política de Copyright
              </a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">política de privacidad</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="footer__item__ancor">Redes Sociales</a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">Facebook</a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">Instagram</a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">Twitter</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Páginas Recomendadas</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.facebook.com/profile.php?id=100044530450027" class="footer__item__ancor">gracias
                Benedicto XVI</a>
            </li>
            <li>
              <a href="https://www.vatican.va/content/vatican/es.html" class="footer__item__ancor">Vatican.va</a>
            </li>
            <li>
              <a href="https://www.ewtn.com/es" class="footer__item__ancor">EWTN.com</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 footer__container__copyright">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

</body>

</html>