<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords"
    content="testimonios, relatos, historias, stories, story, casos de la vida real, conversion, conversiones religiosas, conversion religiosa, catolica, iglesia catolica, religion catolica, catolica, cristianismo, teologia, articulos, libros, noticias, fe, doctrina, religion, filosofia, razon">
  <meta name="description"
    content="Testimonios de vida con experiencias junto a Benedicto XVI y su obra.">
  <link rel="icon" type="image/jpg" href="../static/bento/assets/icons/bentofavicon.png" />

  <!-- link a bootstrap -->
  <link rel="stylesheet" href="../libs/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
  <!-- link a css -->
  <link rel="stylesheet" href="../static/bento/css/styles.css">
  <title> testimonios </title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar__container" id="navbar">
    <div class="container-fluid">
  
      <a class="navbar-brand" href="../index.html">
        <img class="navnar__logo" src="../static/bento/assets/icons/bentologo.png" alt="">
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <li class="nav-item navbar__item">
            <a class="nav-link navbar__item" href="../templates/noticias.html">noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  navbar__item" href="../templates/libros.html">libros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  navbar__item" href="../templates/articulos.html">articulos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  navbar__item" href="../templates/imagenes.html">imagenes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link  navbar__item" href="../templates/benedicto.html">Benedicto</a>
          </li>

          <li class="nav-item">
            <a class="nav-link  navbar__item" href="../templates/nosotros.html">nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  navbar__item" href="../templates/testimonios.html">testimonios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  navbar__item" href="../templates/contacto.html">contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- uprow (sticky item) -->
  <section>
    <a href="#navbar" class="angle-double-up" id="uprow">
      <img src="../static/bento/assets/icons/uprow.png" alt="whatever">
    </a>
  </section>


  <!-- end CONTENIDO QUE CAMBIA  -->

    <!-- CONTENIDO QUE CAMBIA -->
    
    
    <main class="testimoniosallo__main" id="index__section__testimonios">
    <h1 class="librosallo__main__titulo display-2 text-center">Catálogo de testimonios</h1>

      <div class="testimoniosallo__main__container container text-center">

        <div class="testimoniosallo__main__row row">
          <div class="testimoniosallo__main__col col">
            <div class="testimoniosallo__item center">
              <h3 class="testimoniosallo__item__titulo display-5">Peter Srsich, Arquidiócesis de Denver.</h3>

                <p>A través del relato del presbítero Peter Srsich, de la Arquidiócesis de Denver, se conoció una llamativa faceta de Joseph Ratzinger, a quien le atribuyen "el milagro" de haber sanado un tumor tras colocar su mano derecha sobre el pecho del enfermo que se acercó para recibir su bendición.</p>

                <p>“Tuve como 30 segundos o un minuto para hablar con él, así que le dije lo básico de mi historia: ‘tenía cáncer, quería ser sacerdote. ¿Me puede dar su bendición?’”, detalló Peter Srsich al Denver Catholic en 2021.</p>

                <p>“Me dio su bendición. Fue un gran regalo poder conocer al Santo Padre, estrechar su mano y recibir su bendición. Fue una poderosa experiencia conocer al Papa”, observó el Padre Srsich.</p>

                <p>El problema de salud había sido detectado en 2011, cuando los médicos descubrieron "un tumor del tamaño de una pelota de béisbol (...) sentado en mi pecho entre la caja torácica y los pulmones, y en realidad colapsó mi pulmón izquierdo y estaba presionando mi corazón"., recordó Srsich, el sacerdote que protagonizó "el milagro".</p>

                <p>“Finalmente descubrimos que era un linfoma no Hodgkin en etapa cuatro, que era un tumor, y luego algunos otros tumores en el sistema sanguíneo en sí eran la célula cancerosa”, explicó el sacerdote.</p>

                <p>Entonces el joven de 16 años comenzó a recibir sesiones de quimioterapia y rayos. “El cáncer realmente no me afectó mucho, pero la quimioterapia fue lo que me derribó y me golpeó”, recordó.</p>
                
                <p>Sin embargo, el futuro sacerdote no perdió la fe y comunicó su deseo a la fundación Make a Wish: quería conocer en persona al Santo Padre.</p>

                <p>El encuentro milagroso se produjo en junio de 2012, durante una audiencia general del Papa Benedicto XVI en la Plaza de
                San Pedro en el Vaticano.</p>

                <p>“Tuve como 30 segundos o un minuto para hablar con él, así que le dije lo básico de mi historia: ‘tenía cáncer, quería ser sacerdote. ¿Me puede dar su bendición?’”, resumió el presbítero de la Arquidiócesis de Denver.</p>

                <p>“Me dio su bendición. Fue un gran regalo poder conocer al Santo Padre, estrechar su mano y recibir su bendición. Fue una poderosa experiencia conocer al Papa”, agregó Srsich.</p>

                <p>Fue entonces cuando Benedicto XVI lo bendijo, mientras apoyaba su mano derecha en el pecho del joven, justo encima de donde estaba ubicado el tumor.</p>

                <p>La salud de Srsich fue mejorando, hasta que se recompuso por completo, ingresó al Seminario St. John Vianney. Sus días más dramáticos quedaron atrás y pudo desarrollar su vocación: fue ordenado diácono en febrero de 2020 y sacerdote al año siguiente.</p>

                <p>“Es una gran vida ser sacerdote”, concluyó el P. Srsich. “Todas las pruebas, todos los sufrimientos valieron la pena”.</p>

              <sub class="testimoniosallo__item__date lead"> <i>Denver/2012</i> </sub>
            </div>
          </div>
        </div>

        <div class="testimoniosallo__main__row row">
          <div class="testimoniosallo__main__col col">
            <div class="testimoniosallo__item center">
              <h3 class="testimoniosallo__item__titulo display-5">Hoy ha muerto un santo.</h3>
        
              <p>
              Hoy ha muerto un santo <br>
              No sé cual será el siguiente <br>
              Ni sé cuántos más quedan <br>
              O si habrá este sido el último <br>
              A Dios le pido que Dios no quiera
              </p>
              
              <p>
              Su muerte conmovió al mundo <br>
              Qué salió de su indiferencia <br>
              Después de tantos desprecios <br>
              Qué en vida dieron a su eminencia <br>
              ¡Sufrió el estigma de andar con Cristo <br>
              La cruz portó como su bandera! <br>
              Y un gran dolor ahora nos invade <br>
              ahora que solos tan solos nos deja! <br>
              E insisto, que alguien me diga,<br>
              si sabe, cuántos más santos quedan!<br>
              </p>

              <p>
              Qué una nube ha bajado del cielo<br>
              Y nos acompaña en su despedida<br>
              Será que su alma allí sube directo<br>
              Y nos abraza tras su partida?<br>
              Benedicto, cuánto te quiero!<br>
              Y cuán solo quedaré en la vida<br>
              En triste congoja por tu recuerdo<br>
              Arrebatado consuelo del alma mia!<br>
              </p>
              <p>
              La imagen de su mirada rigorosa<br>
              Escondía la serenidad de su alma<br>
              Y su sonrisa tan humilde y tan jocosa<br>
              Guardaba cada risa entre palabras<br>
              Y es que cargaba con todo el peso de la iglesia!<br>
              Tremenda carga de faltas y de pecados!<br>
              Pastoreando a las rebeldes ovejas<br>
              Qué a sus fieles y a su papa traicionaron<br>
              Benedicto, qué te han hecho!<br>
              Benedicto de mi alma, te apagaron!<br>
              Y en el momento en que tus fuerzas se desgastan<br>
              Con villana estocada te apartaron<br>
              </p>
              <p>
              Mas no pensemos en eso<br>
              Qué seguiste velando por nosotros<br>
              Y en jovial y paternal acento<br>
              Manifestabas tu tan lúcido celo apostólico<br>
              Y en oraciones te preparabas para el encuentro,<br>
              tan ansiado, con el todopoderoso<br>
              Larga espera, al inocente amor de un niño<br>
              En navidad, año nuevo y reyes magos<br>
              Con la paciencia y persistencia de un sabio<br>
              consecuente con lo en vida predicado<br>
              Murió diciendo las dulces palabras<br>
              Confensando el tierno "Jesús te amo"<br>
              </p>
            
        
              <sub class="testimoniosallo__item__date lead"> <i>Lima/2023</i> </sub>
            </div>
          </div>
        </div>

        <div class="testimoniosallo__main__row row">
          <div class="testimoniosallo__main__col col">
            <div class="testimoniosallo__item center">
              <h3 class="testimoniosallo__item__titulo display-5">PDr. Juan Carlos Inostroza Lanas.</h3>
        
              <p>“Señor, tú sabes que te amo” (Jn 21, 15-17), es la triple respuesta de Pedro a Jesús resucitado que le ha preguntado: 
              “¿Pedro, me amas?”. Las últimas palabras del recién fallecido Papa Emérito Benedicto XVI evocan la confesión de amor de Pedro, que tras haber negado tres veces a Jesús durante su Pasión, ahora con profunda contrición le confiesa su amor. Y Jesús le confirma en su función de apacentar su rebaño, la Iglesia. Se trata, por tanto, no sólo de un sentimiento creyente de amor a Jesús, sino además de una confesión propia del ministerio petrino, la confesión propia del ministerio
              del Papa.</p>
        
              <p>Confesar el amor a Jesús como Señor (Dios y Redentor nuestro) no es una simple expresión de un sentimiento humano; es ante todo la acción propia y primera del Espíritu Santo. Dicho en otras palabras, es la acción diametralmente opuesta a la del pecado, que denuesta, es decir, injuria, pisotea el nombre de Jesús. Recordemos la Audiencia General de Paulo VI, el 15 de noviembre de 1972: “El mal no es sólo una deficiencia, sino una eficiencia, un ser vivo, espiritual, pervertido y perversor. Terrible realidad. Misteriosa y pavorosa…Podemos suponer -continúa Paulo VI- su acción siniestra allí… donde el nombre de Cristo es impugnado con odio consciente y rebelde…”. Por eso, el primer mandamiento es “Amar a Dios
              sobre todas las cosas”, y el segundo mandamiento es semejante al primero: “Amar al prójimo como a uno mismo”. Y el mandato de Jesús es “amaos los unos a los otros como yo os he amado”. El amor de Dios (el que procede de Él) es el que libra del Mal.</p>
        
              <p>Al pronunciar éstas sus últimas palabras, Benedicto XVI ha rubricado su legado espiritual: “Manteneos firmes en la fe”. Otra expresión del Papa Emérito que remite a 1Pe 5,8: “Sed sobrios y velad. Vuestro adversario, el Diablo, ronda como león rugiente, buscando a quien devorar”. La victoria del Diablo, Príncipe (usurpador) de este mundo, es llenarnos de su odio contra Jesús y su Reino de amor y justicia, de vida y de paz. Este mundo es el mundo de Dios el que Él creó y ha venido a reinar desde la “pro-existencia”, poniendo la  “existencia-a-favor-del-prójimo”.</p>
        
              <p>Creer en Jesús y amarlo no es separable. Y amar a Jesús es buscar agradarle en todo. Los que se aman, los amigos (como nos llama Jesús en Jn 15,15), buscan agradarse. Jesús hace las obras del Padre, porque le ama. Igual han de hacer sus discípulos: “Si me amáis, guardaréis mi Palabra; si me amáis, guardaréis mis mandamientos”, dice Jesús. ¿Y cuál es el mandato de Jesús? Dice Jesús: “Como el Padre me amó, así os he amado, permaneced en mi amor” (Jn 15,9). Benedicto XVI nos da este último testimonio, pues la fe no se prueba, se testimonia, especialmente en el momento de la muerte: confiesa su amor a Jesús hasta su último aliento.
              </p>
        
              <p>Es la dinámica bautismal que nos transforma a lo largo de nuestra vida en creaturas nuevas. Jesús cuenta con nuestras traiciones (como las tres de Pedro antes de que cantara el gallo), pero nos llama a renovar nuestro amor a Él. Amar a Jesús, amar a Dios, confesar amando el Nombre de Jesús nos une a él y eso nos aparta del Mal. “Líbranos del Mal”, pedimos en el Padre Nuestro, eso hace Jesús para nosotros.</p>
        
              <p>“¡Señor!”, dijo Benedicto XVI, “te amo”. Nos recuerda finalmente la enseñanza de san Pablo en 1Cor 12,3: “Por eso os hago saber que nadie, hablando con el Espíritu de Dios, puede decir ¡Anatema es Jesús!; y nadie puede decir: “¡Jesús es Señor!”, sino con el Espíritu Santo”.</p>
        
              <p>Sin duda, Benedicto XVI ha dejado su último testimonio de fe y nos llama a prepararnos para hacer nosotros lo mismo. Aquél que escribió la Encíclica “Dios es Amor”, ha ratificado con su últimas palabras la fe de sus padres, la fe del Bautismo, la fe de la Iglesia.</p>
        
              
        
              <sub class="testimoniosallo__item__date lead"> <i>Chile/2022</i> </sub>
            </div>
          </div>
        </div>

       
      </div>
    <br>
    </main>
    
    <!-- end CONTENIDO QUE CAMBIA  -->
    
<!-- end CONTENIDO QUE CAMBIA  -->

<script src="../libs/bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js"></script>

<!-- Footer -->
<footer class="text-center footer__container">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Este sitio está siendo desarrollado por <a class="footer__mensaje__ancor"
          href="https://github.com/Hector3008/">Hector H. Hernandez P.</a>
        Con el propósito de demostrar y poner a prueba sus habilidades de diseño web.
        El contenido compartido no es de su autoría.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Explorar</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="../index.html" class="footer__item__ancor">Inicio</a>
            </li>
            <li>
              <a href="../templates/nosotros.html" class="footer__item__ancor">Nosotros</a>
            </li>
            <li>
              <a href="../templates/contacto.html" class="footer__item__ancor">Contacto</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Enlaces de Interés</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="footer__item__ancor">FAQ</a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">terminos de uso
              </a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">política de Copyright
              </a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">política de privacidad</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="footer__item__ancor">Redes Sociales</a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">Facebook</a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">Instagram</a>
            </li>
            <li>
              <a href="#!" class="footer__item__ancor">Twitter</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Páginas Recomendadas</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.facebook.com/profile.php?id=100044530450027" class="footer__item__ancor">gracias
                Benedicto XVI</a>
            </li>
            <li>
              <a href="https://www.vatican.va/content/vatican/es.html" class="footer__item__ancor">Vatican.va</a>
            </li>
            <li>
              <a href="https://www.ewtn.com/es" class="footer__item__ancor">EWTN.com</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 footer__container__copyright">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

</body>

</html>