<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content=lorem12>
  <meta name="description"
    content="Lorem, ipsum, dolor, sit, amet, consectetur, adipisicing, elit, Reprehenderit, ullam, veniam, id,">

  <!-- link a bootstrap -->
  <link rel="stylesheet" href="../libs/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
  <!-- link a css -->
  <link rel="stylesheet" href="../static/bento/css/styles.css">
  <title>Bento - nosotros </title>
</head>

<body>

  <nav class="navbar navbar-expand-lg bg__rojo" id="navbar">
    <div class="container-fluid">

      <a class="navbar-brand text-white navbar__item" href="../index.html">inicio</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

          <li class="nav-item">
            <a class="nav-link pinkwhite-text navbar__item" href="./noticias.html">noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pinkwhite-text  navbar__item" href="./libros.html">libros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pinkwhite-text  navbar__item" href="./articulos.html">articulos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pinkwhite-text navbar__item" href="./templates/imagenes.html">imagenes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pinkwhite-text navbar__item" href="./nosotros.html">nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pinkwhite-text navbar__item" href="./testimonios.html">testimonios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pinkwhite-text navbar__item" href="./contacto.html">contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- uprow (sticky item) -->
  <section>
    <a href="#navbar" class="angle-double-up" id="uprow">
      <img src="../static/bento/assets/icons/uprow.png" alt="whatever">
    </a>
  </section>


  <!-- end CONTENIDO QUE CAMBIA  -->

    <!-- CONTENIDO QUE CAMBIA -->
    
    
    <section class="testimonios__section__testimonios" id="index__section__testimonios">

    
      <div class="index__section__testimonios__container center">
        <h3 class="index__section__testimonios__container__title display-5">titulo del testimonio: Lorem ipsum dolor sit
          amet.</h3>
        <p class="index__section__testimonios__container__text lead">Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Perferendis minima quae saepe nobis praesentium tempora, minus ipsa modi dicta asperiores dolorem placeat
          impedit maiores consectetur temporibus laborum ipsam provident atque iure ad sit deserunt vel eligendi
          dignissimos? Delectus doloribus obcaecati mollitia quidem fugit est enim sunt libero. Qui temporibus laborum optio
          eveniet esse. Facere quidem officiis distinctio, recusandae iusto hic quasi odit ea quae molestiae dignissimos.
          Accusantium accusamus cupiditate necessitatibus labore. Modi, quis dolorem error magni dignissimos quo cupiditate
          tempora inventore tenetur quibusdam, doloremque explicabo mollitia accusantium consectetur similique aperiam minus
          corporis fugit ex esse itaque minima cumque maiores. Earum ea fuga sequi. Nobis quod vero eaque a expedita?
          Nostrum, hic ipsum? Minus exercitationem soluta quisquam unde, voluptates, qui repellat, at voluptatum assumenda
          nobis autem! Veritatis, minima eos officiis modi earum nam tenetur dolorem quas sint aliquam eligendi sit maiores
          assumenda nesciunt consequuntur! Blanditiis hic dignissimos fuga nulla, natus aperiam reiciendis omnis voluptas
          minima nobis eaque aliquid repellendus vero. Vitae eius itaque dicta fugit consectetur mollitia nostrum cumque
          obcaecati. Sit tempora, perspiciatis iste repellat laboriosam quam nihil veritatis assumenda molestiae ducimus
          atque quod ipsum perferendis non maiores adipisci iusto ea reiciendis. Iusto nam neque deleniti fuga laborum
          nostrum ex in! Excepturi tempora odit voluptatibus neque voluptas consectetur consequatur, possimus aut delectus.
          Rerum iste earum nihil! Dolorum sequi reprehenderit doloremque blanditiis pariatur exercitationem, dicta natus
          enim repellat quibusdam labore corporis id corrupti iusto? Debitis ab quisquam doloribus nemo earum ipsam facere
          accusamus corrupti a ipsa cum delectus et molestias aut, velit nulla modi dicta adipisci quo praesentium rem
          obcaecati. Atque, dolor mollitia obcaecati rerum facilis commodi fugiat aut maxime earum natus. Minima dolor quis
          nostrum nesciunt! Odio inventore vel praesentium explicabo beatae libero consectetur error nostrum, eius nisi aut
          quam porro fugit exercitationem hic alias consequuntur in quis quaerat dolor! Autem quaerat dicta distinctio fugit
          cumque sequi? Id minima consectetur ducimus? Suscipit aspernatur voluptatum nihil corrupti animi corporis
          temporibus odio numquam officia cumque ea mollitia qui eos, maiores iure, placeat id molestiae totam ad quae natus
          quisquam delectus perspiciatis illum. Eaque tempore vel vero doloribus earum magni optio accusantium iste aliquam!
        </p>
        <sub class="index__section__testimonios__container__date lead"> <i>where/mm/yy</i> </sub>
      </div>
    
    </section>
    
      <section class="testimonios__section__testimonios" id="index__section__testimonios">
    

    
      <div class="index__section__testimonios__container center">
        <h3 class="index__section__testimonios__container__title display-5">titulo del testimonio: Lorem ipsum dolor sit
          amet.</h3>
        <p class="index__section__testimonios__container__text lead">Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Perferendis minima quae saepe nobis praesentium tempora, minus ipsa modi dicta asperiores dolorem placeat
          impedit maiores consectetur temporibus laborum ipsam provident atque iure ad sit deserunt vel eligendi
          dignissimos? Delectus doloribus obcaecati mollitia quidem fugit est enim sunt libero. Qui temporibus laborum optio
          eveniet esse. Facere quidem officiis distinctio, recusandae iusto hic quasi odit ea quae molestiae dignissimos.
          Accusantium accusamus cupiditate necessitatibus labore. Modi, quis dolorem error magni dignissimos quo cupiditate
          tempora inventore tenetur quibusdam, doloremque explicabo mollitia accusantium consectetur similique aperiam minus
          corporis fugit ex esse itaque minima cumque maiores. Earum ea fuga sequi. Nobis quod vero eaque a expedita?
          Nostrum, hic ipsum? Minus exercitationem soluta quisquam unde, voluptates, qui repellat, at voluptatum assumenda
          nobis autem! Veritatis, minima eos officiis modi earum nam tenetur dolorem quas sint aliquam eligendi sit maiores
          assumenda nesciunt consequuntur! Blanditiis hic dignissimos fuga nulla, natus aperiam reiciendis omnis voluptas
          minima nobis eaque aliquid repellendus vero. Vitae eius itaque dicta fugit consectetur mollitia nostrum cumque
          obcaecati. Sit tempora, perspiciatis iste repellat laboriosam quam nihil veritatis assumenda molestiae ducimus
          atque quod ipsum perferendis non maiores adipisci iusto ea reiciendis. Iusto nam neque deleniti fuga laborum
          nostrum ex in! Excepturi tempora odit voluptatibus neque voluptas consectetur consequatur, possimus aut delectus.
          Rerum iste earum nihil! Dolorum sequi reprehenderit doloremque blanditiis pariatur exercitationem, dicta natus
          enim repellat quibusdam labore corporis id corrupti iusto? Debitis ab quisquam doloribus nemo earum ipsam facere
          accusamus corrupti a ipsa cum delectus et molestias aut, velit nulla modi dicta adipisci quo praesentium rem
          obcaecati. Atque, dolor mollitia obcaecati rerum facilis commodi fugiat aut maxime earum natus. Minima dolor quis
          nostrum nesciunt! Odio inventore vel praesentium explicabo beatae libero consectetur error nostrum, eius nisi aut
          quam porro fugit exercitationem hic alias consequuntur in quis quaerat dolor! Autem quaerat dicta distinctio fugit
          cumque sequi? Id minima consectetur ducimus? Suscipit aspernatur voluptatum nihil corrupti animi corporis
          temporibus odio numquam officia cumque ea mollitia qui eos, maiores iure, placeat id molestiae totam ad quae natus
          quisquam delectus perspiciatis illum. Eaque tempore vel vero doloribus earum magni optio accusantium iste aliquam!
        </p>
        <sub class="index__section__testimonios__container__date lead"> <i>where/mm/yy</i> </sub>
      </div>
    
    </section>

        <section class="testimonios__section__testimonios" id="index__section__testimonios">
    

    
      <div class="index__section__testimonios__container center">
        <h3 class="index__section__testimonios__container__title display-5">titulo del testimonio: Lorem ipsum dolor sit
          amet.</h3>
        <p class="index__section__testimonios__container__text lead">Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Perferendis minima quae saepe nobis praesentium tempora, minus ipsa modi dicta asperiores dolorem placeat
          impedit maiores consectetur temporibus laborum ipsam provident atque iure ad sit deserunt vel eligendi
          dignissimos? Delectus doloribus obcaecati mollitia quidem fugit est enim sunt libero. Qui temporibus laborum optio
          eveniet esse. Facere quidem officiis distinctio, recusandae iusto hic quasi odit ea quae molestiae dignissimos.
          Accusantium accusamus cupiditate necessitatibus labore. Modi, quis dolorem error magni dignissimos quo cupiditate
          tempora inventore tenetur quibusdam, doloremque explicabo mollitia accusantium consectetur similique aperiam minus
          corporis fugit ex esse itaque minima cumque maiores. Earum ea fuga sequi. Nobis quod vero eaque a expedita?
          Nostrum, hic ipsum? Minus exercitationem soluta quisquam unde, voluptates, qui repellat, at voluptatum assumenda
          nobis autem! Veritatis, minima eos officiis modi earum nam tenetur dolorem quas sint aliquam eligendi sit maiores
          assumenda nesciunt consequuntur! Blanditiis hic dignissimos fuga nulla, natus aperiam reiciendis omnis voluptas
          minima nobis eaque aliquid repellendus vero. Vitae eius itaque dicta fugit consectetur mollitia nostrum cumque
          obcaecati. Sit tempora, perspiciatis iste repellat laboriosam quam nihil veritatis assumenda molestiae ducimus
          atque quod ipsum perferendis non maiores adipisci iusto ea reiciendis. Iusto nam neque deleniti fuga laborum
          nostrum ex in! Excepturi tempora odit voluptatibus neque voluptas consectetur consequatur, possimus aut delectus.
          Rerum iste earum nihil! Dolorum sequi reprehenderit doloremque blanditiis pariatur exercitationem, dicta natus
          enim repellat quibusdam labore corporis id corrupti iusto? Debitis ab quisquam doloribus nemo earum ipsam facere
          accusamus corrupti a ipsa cum delectus et molestias aut, velit nulla modi dicta adipisci quo praesentium rem
          obcaecati. Atque, dolor mollitia obcaecati rerum facilis commodi fugiat aut maxime earum natus. Minima dolor quis
          nostrum nesciunt! Odio inventore vel praesentium explicabo beatae libero consectetur error nostrum, eius nisi aut
          quam porro fugit exercitationem hic alias consequuntur in quis quaerat dolor! Autem quaerat dicta distinctio fugit
          cumque sequi? Id minima consectetur ducimus? Suscipit aspernatur voluptatum nihil corrupti animi corporis
          temporibus odio numquam officia cumque ea mollitia qui eos, maiores iure, placeat id molestiae totam ad quae natus
          quisquam delectus perspiciatis illum. Eaque tempore vel vero doloribus earum magni optio accusantium iste aliquam!
        </p>
        <sub class="index__section__testimonios__container__date lead"> <i>where/mm/yy</i> </sub>
      </div>
    
    </section>

        <section class="testimonios__section__testimonios" id="index__section__testimonios">
        

        
          <div class="index__section__testimonios__container center">
            <h3 class="index__section__testimonios__container__title display-5">titulo del testimonio: Lorem ipsum dolor sit
              amet.</h3>
            <p class="index__section__testimonios__container__text lead">Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Perferendis minima quae saepe nobis praesentium tempora, minus ipsa modi dicta asperiores dolorem placeat
              impedit maiores consectetur temporibus laborum ipsam provident atque iure ad sit deserunt vel eligendi
              dignissimos? Delectus doloribus obcaecati mollitia quidem fugit est enim sunt libero. Qui temporibus laborum optio
              eveniet esse. Facere quidem officiis distinctio, recusandae iusto hic quasi odit ea quae molestiae dignissimos.
              Accusantium accusamus cupiditate necessitatibus labore. Modi, quis dolorem error magni dignissimos quo cupiditate
              tempora inventore tenetur quibusdam, doloremque explicabo mollitia accusantium consectetur similique aperiam minus
              corporis fugit ex esse itaque minima cumque maiores. Earum ea fuga sequi. Nobis quod vero eaque a expedita?
              Nostrum, hic ipsum? Minus exercitationem soluta quisquam unde, voluptates, qui repellat, at voluptatum assumenda
              nobis autem! Veritatis, minima eos officiis modi earum nam tenetur dolorem quas sint aliquam eligendi sit maiores
              assumenda nesciunt consequuntur! Blanditiis hic dignissimos fuga nulla, natus aperiam reiciendis omnis voluptas
              minima nobis eaque aliquid repellendus vero. Vitae eius itaque dicta fugit consectetur mollitia nostrum cumque
              obcaecati. Sit tempora, perspiciatis iste repellat laboriosam quam nihil veritatis assumenda molestiae ducimus
              atque quod ipsum perferendis non maiores adipisci iusto ea reiciendis. Iusto nam neque deleniti fuga laborum
              nostrum ex in! Excepturi tempora odit voluptatibus neque voluptas consectetur consequatur, possimus aut delectus.
              Rerum iste earum nihil! Dolorum sequi reprehenderit doloremque blanditiis pariatur exercitationem, dicta natus
              enim repellat quibusdam labore corporis id corrupti iusto? Debitis ab quisquam doloribus nemo earum ipsam facere
              accusamus corrupti a ipsa cum delectus et molestias aut, velit nulla modi dicta adipisci quo praesentium rem
              obcaecati. Atque, dolor mollitia obcaecati rerum facilis commodi fugiat aut maxime earum natus. Minima dolor quis
              nostrum nesciunt! Odio inventore vel praesentium explicabo beatae libero consectetur error nostrum, eius nisi aut
              quam porro fugit exercitationem hic alias consequuntur in quis quaerat dolor! Autem quaerat dicta distinctio fugit
              cumque sequi? Id minima consectetur ducimus? Suscipit aspernatur voluptatum nihil corrupti animi corporis
              temporibus odio numquam officia cumque ea mollitia qui eos, maiores iure, placeat id molestiae totam ad quae natus
              quisquam delectus perspiciatis illum. Eaque tempore vel vero doloribus earum magni optio accusantium iste aliquam!
            </p>
            <sub class="index__section__testimonios__container__date lead"> <i>where/mm/yy</i> </sub>
          </div>
        
        </section>
    
    <!-- end CONTENIDO QUE CAMBIA  -->
    
    <script src="../libs/bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Footer -->
    <footer class="bg__rojo text-center pinkwhite-text">
      <!-- Grid container -->
      <div class="container p-4">
    
        <!-- Section: Text -->
        <section class="mb-4">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
            repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
            eum harum corrupti dicta, aliquam sequi voluptate quas.
          </p>
        </section>
        <!-- Section: Text -->
    
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
    
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Link 1</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 2</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 3</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 4</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
    
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Link 1</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 2</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 3</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 4</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
    
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Link 1</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 2</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 3</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 4</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
    
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Link 1</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 2</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 3</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 4</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    
    </body>
    
    </html>