<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- link a css -->
  <link rel="stylesheet" href="../static/bento/css/styles.css">
  <title>Bento - testimonios</title>
</head>

<body>

  <!-- navbar -->
  <nav>
    <ul>
      <li><a href="../index.html">inicio</a></li>
      <li><a href="./noticias.html">noticias</a></li>
      <li><a href="./articulos.html">articulos</a></li>
      <li><a href="./libros.html">libros</a></li>
      <li><a href="./imagenes.html">imagenes</a></li>
      <li><a href="./videos.html">videos</a></li>
      <li><a href="./testimonios.html">testimonios</a></li>
      <li><a href="../index.html">contacto</a></li>

    </ul>
  </nav>
<!-- uprow (sticky item) -->
    <section>
      <a id="uprow" href="#firstsectiontestimonios"><img src="../static/bento/assets/img/uprow.png" alt="whatever"></a>
    </section>
  <!-- contenido que cambia -->
  <section class="oddsection" id="firstsectiontestimonios">
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing.</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed consequuntur enim, quas accusantium commodi aut,
      distinctio officia cum temporibus neque labore atque error ducimus culpa provident ullam dolorum quae. Aspernatur
      reprehenderit tenetur mollitia enim autem deleniti voluptas qui velit. Deleniti quisquam molestias numquam quidem quia
      sit placeat voluptatem dicta error vero ullam, molestiae et, maxime nihil, in quaerat asperiores. Porro, beatae quas
      laudantium labore sint officia pariatur reprehenderit officiis in!</p>
  </section>

  <section class="evensection">
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing.</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed consequuntur enim, quas accusantium commodi aut,
      distinctio officia cum temporibus neque labore atque error ducimus culpa provident ullam dolorum quae. Aspernatur
      reprehenderit tenetur mollitia enim autem deleniti voluptas qui velit. Deleniti quisquam molestias numquam quidem
      quia
      sit placeat voluptatem dicta error vero ullam, molestiae et, maxime nihil, in quaerat asperiores. Porro, beatae quas
      laudantium labore sint officia pariatur reprehenderit officiis in!</p>
  </section>

  <section class="oddsection">
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing.</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed consequuntur enim, quas accusantium commodi aut,
      distinctio officia cum temporibus neque labore atque error ducimus culpa provident ullam dolorum quae. Aspernatur
      reprehenderit tenetur mollitia enim autem deleniti voluptas qui velit. Deleniti quisquam molestias numquam quidem
      quia
      sit placeat voluptatem dicta error vero ullam, molestiae et, maxime nihil, in quaerat asperiores. Porro, beatae quas
      laudantium labore sint officia pariatur reprehenderit officiis in!</p>
  </section>
  
  <section class="evensection">
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing.</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed consequuntur enim, quas accusantium commodi aut,
      distinctio officia cum temporibus neque labore atque error ducimus culpa provident ullam dolorum quae. Aspernatur
      reprehenderit tenetur mollitia enim autem deleniti voluptas qui velit. Deleniti quisquam molestias numquam quidem
      quia
      sit placeat voluptatem dicta error vero ullam, molestiae et, maxime nihil, in quaerat asperiores. Porro, beatae quas
      laudantium labore sint officia pariatur reprehenderit officiis in!</p>
  </section>

  <section class="oddsection">
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing.</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed consequuntur enim, quas accusantium commodi aut,
      distinctio officia cum temporibus neque labore atque error ducimus culpa provident ullam dolorum quae. Aspernatur
      reprehenderit tenetur mollitia enim autem deleniti voluptas qui velit. Deleniti quisquam molestias numquam quidem
      quia
      sit placeat voluptatem dicta error vero ullam, molestiae et, maxime nihil, in quaerat asperiores. Porro, beatae quas
      laudantium labore sint officia pariatur reprehenderit officiis in!</p>
  </section>
  
  <section class="evensection">
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing.</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed consequuntur enim, quas accusantium commodi aut,
      distinctio officia cum temporibus neque labore atque error ducimus culpa provident ullam dolorum quae. Aspernatur
      reprehenderit tenetur mollitia enim autem deleniti voluptas qui velit. Deleniti quisquam molestias numquam quidem
      quia
      sit placeat voluptatem dicta error vero ullam, molestiae et, maxime nihil, in quaerat asperiores. Porro, beatae quas
      laudantium labore sint officia pariatur reprehenderit officiis in!</p>
  </section>

<!-- barra de testimonios -->
  <section class="oddsection">

    <h3>picturesbar</h3>
    <p> <- 1 2 3 4 5 6 7 8 ... ->
    </p>

  </section>

  <!-- end a contenido que cambia -->

</body>
<footer>
  <h2>footer</h2>
  Lorem, ipsum.
  Lorem, ipsum.
  Lorem, ipsum.
  Lorem, ipsum.

</footer>

</body>

</html>